<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channelsharing.hongqu.supplier.api.dao.OrderInfoDao">

	<sql id="orderInfoColumns">
		a.id AS "id",
		a.sn AS "sn",
		a.user_id AS "userId",
		a.consignee AS "consignee",
		a.country AS "country",
		a.province AS "province",
		a.city AS "city",
		a.district AS "district",
		a.address AS "address",
		a.mobile AS "mobile",
		a.status AS "status",
		a.amount AS "amount",
		a.pay_status AS "payStatus",
		a.pay_type AS "payType",
		a.pay_no AS "payNo",
		a.pay_time AS "payTime",
		a.cancel_type AS "cancelType",
		a.cancel_time AS "cancelTime",
		a.create_time AS "createTime",
		a.update_time AS "updateTime",
		a.remark AS "remark"
	</sql>

	<sql id="orderInfoFindWhere">
	   <where>

			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="sn != null and sn != ''">
				AND a.sn = #{sn}
			</if>
			<if test="userId != null and userId != ''">
				AND a.user_id = #{userId}
			</if>
			<if test="consignee != null and consignee != ''">
				AND a.consignee LIKE
					CONCAT('%',#{consignee},'%')
			</if>
			<if test="mobile != null and mobile != ''">
				AND a.mobile = #{mobile}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="payStatus != null and payStatus != ''">
				AND a.pay_status = #{payStatus}
			</if>
		</where>
	</sql>

	<sql id="orderInfoJoins">

	</sql>

	<select id="findOne" resultType="com.channelsharing.hongqu.supplier.api.entity.OrderInfo">
		SELECT
			<include refid="orderInfoColumns"/>
		FROM order_info a
		<include refid="orderInfoJoins"/>
		<include refid="orderInfoFindWhere"/>
		ORDER BY a.id DESC
		LIMIT 0, 1
	</select>

	<select id="findList" resultType="com.channelsharing.hongqu.supplier.api.entity.OrderInfo">
		SELECT
			<include refid="orderInfoColumns"/>
		FROM order_info a
		<include refid="orderInfoJoins"/>
		<include refid="orderInfoFindWhere"/>
		ORDER BY a.create_time DESC
	    LIMIT #{offset}, #{limit}
	</select>

	<select id="findAllCount" resultType="Integer">
		SELECT
			COUNT(a.id)
		FROM order_info a
		<include refid="orderInfoJoins"/>
		<include refid="orderInfoFindWhere"/>
	</select>

	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.channelsharing.hongqu.supplier.api.entity.OrderInfo">
		INSERT INTO order_info(
			id,
			sn,
			user_id,
			consignee,
			country,
			province,
			city,
			district,
			address,
			mobile,
			status,
			pay_status,
			amount,
			pay_type,
			pay_no,
			pay_time,
			cancel_type,
			cancel_time,
			pay_money,
			create_time,
			update_time,
			remark
		) VALUES (
			#{id},
			#{sn},
			#{userId},
			#{consignee},
			#{country},
			#{province},
			#{city},
			#{district},
			#{address},
			#{mobile},
			#{status},
			#{payStatus},
			#{amount},
			#{payType},
			#{payNo},
			#{payTime},
			#{cancelType},
			#{cancelTime},
			#{payMoney},
			NOW(),
			#{updateTime},
			#{remark}
		)
	</insert>

	<update id="update">
		UPDATE order_info
		   <set>
		   <if test="sn != null">
		       sn = #{sn},
	       </if>
		   <if test="userId != null">
		       user_id = #{userId},
	       </if>
		   <if test="consignee != null">
		       consignee = #{consignee},
	       </if>
		   <if test="country != null">
		       country = #{country},
	       </if>
		   <if test="province != null">
		       province = #{province},
	       </if>
		   <if test="city != null">
		       city = #{city},
	       </if>
		   <if test="district != null">
		       district = #{district},
	       </if>
		   <if test="address != null">
		       address = #{address},
	       </if>
		   <if test="mobile != null">
		       mobile = #{mobile},
	       </if>
		   <if test="status != null">
		       status = #{status},
	       </if>
		   <if test="payStatus != null">
		       pay_status = #{payStatus},
	       </if>
		   <if test="amount != null">
		       amount = #{amount},
	       </if>
		   <if test="payType != null">
		       pay_type = #{payType},
	       </if>
		   <if test="payNo != null">
		       pay_no = #{payNo},
	       </if>
		   <if test="payTime != null">
		       pay_time = #{payTime},
	       </if>
		   <if test="cancelType != null">
		       cancel_type = #{cancelType},
	       </if>
		   <if test="cancelTime != null">
		       cancel_time = #{cancelTime},
	       </if>
		   <if test="payMoney != null">
		       pay_money = #{payMoney},
	       </if>
		       update_time = NOW(),
		   <if test="remark != null">
		       remark = #{remark},
	       </if>

           </set>
		WHERE id = #{id}
	</update>

	<update id="delete">
		DELETE FROM order_info
		WHERE id = #{id}
	</update>

</mapper>
