<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev">
		<logger name="org.springframework.data.redis" level="ERROR" />
		<logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />
		<logger name="org.springframework" level="INFO" />
		<logger name="org.springboot" level="INFO" />
		<logger name="com.channelsharing" level="debug" />
	</springProfile>


	<!-- 生产环境. -->
	<springProfile name="prod">
		<logger name="org.springframework.data.redis" level="ERROR" />
		<logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />
		<logger name="org.springframework" level="ERROR" />
		<logger name="org.springboot" level="ERROR" />
		<logger name="com.channelsharing" level="INFO" />
	</springProfile>

</configuration>
