<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channelsharing.hongqu.portal.api.dao.ConfigParamDao">

	<sql id="configParamColumns">
		a.id AS "id",
		a.config_key AS "configKey",
		a.config_value AS "configValue",
		a.module_id AS "moduleId",
		a.description AS "description"
	</sql>

	<sql id="configParamFindWhere">
	   <where>
			a.del_flag = 0
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="configKey != null and configKey != ''">
				AND a.config_key = #{configKey}
			</if>
			<if test="moduleId != null and moduleId != ''">
				AND a.module_id = #{moduleId}
			</if>
			<if test="description != null and description != ''">
				AND a.description LIKE
					CONCAT('%',#{description},'%')
			</if>
		</where>
	</sql>

	<sql id="configParamJoins">

	</sql>

	<select id="findOne" resultType="com.channelsharing.hongqu.portal.api.entity.ConfigParam">
		SELECT
			<include refid="configParamColumns"/>
		FROM config_param a
		<include refid="configParamJoins"/>
		<include refid="configParamFindWhere"/>
		ORDER BY a.id DESC
		LIMIT 0, 1
	</select>

	<select id="findList" resultType="com.channelsharing.hongqu.portal.api.entity.ConfigParam">
		SELECT
			<include refid="configParamColumns"/>
		FROM config_param a
		<include refid="configParamJoins"/>
		<include refid="configParamFindWhere"/>
		ORDER BY a.create_time DESC
	    LIMIT #{offset}, #{limit}
	</select>

	<select id="findAllCount" resultType="Integer">
		SELECT
			COUNT(a.id)
		FROM config_param a
		<include refid="configParamJoins"/>
		<include refid="configParamFindWhere"/>
	</select>

	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.channelsharing.hongqu.portal.api.entity.ConfigParam">
		INSERT INTO config_param(
			id,
			config_key,
			config_value,
			module_id,
			description,
			create_by,
			create_time,
			update_by,
			update_time,
			remark,
			del_flag
		) VALUES (
			#{id},
			#{configKey},
			#{configValue},
			#{moduleId},
			#{description},
			#{createBy.id},
			NOW(),
			#{updateBy.id},
			#{updateTime},
			#{remark},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE config_param
		   <set>
		   <if test="configKey != null">
		       config_key = #{configKey},
	       </if>
		   <if test="configValue != null">
		       config_value = #{configValue},
	       </if>
		   <if test="moduleId != null">
		       module_id = #{moduleId},
	       </if>
		   <if test="description != null">
		       description = #{description},
	       </if>
		   <if test="updateBy.id != null">
		       update_by = #{updateBy.id},
	       </if>
		       update_time = NOW(),
		   <if test="remark != null">
		       remark = #{remark},
	       </if>

           </set>
		WHERE id = #{id}
	</update>

	<update id="delete">
		UPDATE config_param SET
			del_flag = 1, update_time = NOW()
		WHERE id = #{id}
	</update>

</mapper>
