<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.channelsharing.hongqu.portal.api.dao.CourierMapper">
	<select id="selectShippingCompany"
		resultType="com.channelsharing.hongqu.portal.api.entity.ShippingCompany">
		select
			id as "id",
			code as "code",
			name as "name",
			kuaidi100_com as "kuaidi100Com"
		from
			shipping_company
		where
			code = #{code}
	</select>
</mapper>
