<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channelsharing.hongqu.portal.api.dao.GoodsParamDao">

	<sql id="goodsParamColumns">
		a.id AS "id",
		a.goods_id AS "goodsId",
		a.name AS "name",
		a.value AS "value",
		a.sort AS "sort",
		a.create_time AS "createTime",
		a.update_time AS "updateTime"
	</sql>

	<sql id="goodsParamFindWhere">
	   <where>

			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="goodsId != null and goodsId != ''">
				AND a.goods_id = #{goodsId}
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE
					CONCAT('%',#{name},'%')
			</if>
		</where>
	</sql>

	<sql id="goodsParamJoins">

	</sql>

	<select id="findOne" resultType="com.channelsharing.hongqu.portal.api.entity.GoodsParam">
		SELECT
			<include refid="goodsParamColumns"/>
		FROM goods_param a
		<include refid="goodsParamJoins"/>
		<include refid="goodsParamFindWhere"/>
		ORDER BY a.id DESC
		LIMIT 0, 1
	</select>

	<select id="findList" resultType="com.channelsharing.hongqu.portal.api.entity.GoodsParam">
		SELECT
			<include refid="goodsParamColumns"/>
		FROM goods_param a
		<include refid="goodsParamJoins"/>
		<include refid="goodsParamFindWhere"/>
		ORDER BY a.sort ASC
	    LIMIT #{offset}, #{limit}
	</select>

	<select id="findAllCount" resultType="Integer">
		SELECT
			COUNT(a.id)
		FROM goods_param a
		<include refid="goodsParamJoins"/>
		<include refid="goodsParamFindWhere"/>
	</select>

	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.channelsharing.hongqu.portal.api.entity.GoodsParam">
		INSERT INTO goods_param(
			id,
			goods_id,
			name,
			value,
			sort,
			create_time,
			update_time
		) VALUES (
			#{id},
			#{goodsId},
			#{name},
			#{value},
			#{sort},
			NOW(),
			#{updateTime}
		)
	</insert>

	<update id="update">
		UPDATE goods_param
		   <set>
		   <if test="goodsId != null">
		       goods_id = #{goodsId},
	       </if>
		   <if test="name != null">
		       name = #{name},
	       </if>
		   <if test="value != null">
		       value = #{value},
	       </if>
		   <if test="sort != null">
		       sort = #{sort},
	       </if>
		       update_time = NOW(),

           </set>
		WHERE id = #{id}
	</update>

	<update id="delete">
		DELETE FROM goods_param
		WHERE id = #{id}
	</update>

</mapper>
