<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channelsharing.hongqu.portal.api.dao.GoodsLikeDao">

	<sql id="goodsLikeColumns">
		a.id AS "id",
		a.user_id AS "userId",
		a.goods_id AS "goodsId"
	</sql>

	<sql id="goodsLikeFindWhere">
	   <where>
			
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="userId != null and userId != ''">
				AND a.user_id = #{userId}
			</if>
			<if test="goodsId != null and goodsId != ''">
				AND a.goods_id = #{goodsId}
			</if>
		</where>
	</sql>

	<sql id="goodsLikeJoins">

	</sql>

	<select id="findOne" resultType="com.channelsharing.hongqu.portal.api.entity.GoodsLike">
		SELECT
			<include refid="goodsLikeColumns"/>
		FROM goods_like a
		<include refid="goodsLikeJoins"/>
		<include refid="goodsLikeFindWhere"/>
		ORDER BY a.id DESC
		LIMIT 0, 1
	</select>

	<select id="findList" resultType="com.channelsharing.hongqu.portal.api.entity.GoodsLike">
		SELECT
			<include refid="goodsLikeColumns"/>
		FROM goods_like a
		<include refid="goodsLikeJoins"/>
		<include refid="goodsLikeFindWhere"/>
		ORDER BY a.create_time DESC
	    LIMIT #{offset}, #{limit}
	</select>

	<select id="findAllCount" resultType="Integer">
		SELECT
			COUNT(a.id)
		FROM goods_like a
		<include refid="goodsLikeJoins"/>
		<include refid="goodsLikeFindWhere"/>
	</select>

	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.channelsharing.hongqu.portal.api.entity.GoodsLike">
		INSERT INTO goods_like(
			id,
			user_id,
			goods_id,
			create_time
		) VALUES (
			#{id},
			#{userId},
			#{goodsId},
			NOW()
		)
	</insert>

	<update id="update">
		UPDATE goods_like
		   <set>
		   <if test="userId != null">
		       user_id = #{userId},
	       </if>
		   <if test="goodsId != null">
		       goods_id = #{goodsId},
	       </if>

           </set>
		WHERE id = #{id}
	</update>

	<update id="delete">
		DELETE FROM goods_like
		WHERE id = #{id}
	</update>

</mapper>