<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channelsharing.hongqu.portal.api.dao.ProductInfoDao">

	<sql id="productInfoColumns">
		a.id AS "id",
		a.sn AS "sn",
		a.goods_id AS "goodsId",
		a.goods_specification_ids AS "goodsSpecificationIds",
		a.goods_sn AS "goodsSn",
		a.pic_url AS "picUrl",
		a.store_number AS "storeNumber",
		a.sales_volume AS "salesVolume",
		a.retail_price AS "retailPrice",
		a.unit_price AS "unitPrice",
		a.profit AS "profit",
		a.create_time AS "createTime",
		a.update_time AS "updateTime"
	</sql>

	<sql id="productInfoFindWhere">
	   <where>

			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="sn != null and sn != ''">
				AND a.sn = #{sn}
			</if>
			<if test="goodsId != null and goodsId != ''">
				AND a.goods_id = #{goodsId}
			</if>
			<if test="goodsSn != null and goodsSn != ''">
				AND a.goods_sn = #{goodsSn}
			</if>
		    <if test="delFlag != null ">
			    AND a.del_flag = #{delFlag}
		    </if>
		</where>
	</sql>

	<sql id="productInfoJoins">

	</sql>

	<select id="findOne" resultType="com.channelsharing.hongqu.portal.api.entity.ProductInfo">
		SELECT
			<include refid="productInfoColumns"/>
		FROM product_info a
		<include refid="productInfoJoins"/>
		<include refid="productInfoFindWhere"/>
		ORDER BY a.id DESC
		LIMIT 0, 1
	</select>

	<select id="findList" resultType="com.channelsharing.hongqu.portal.api.entity.ProductInfo">
		SELECT
			<include refid="productInfoColumns"/>
		FROM product_info a
		<include refid="productInfoJoins"/>
		<include refid="productInfoFindWhere"/>
		ORDER BY a.create_time DESC
	    LIMIT #{offset}, #{limit}
	</select>

	<select id="findAllCount" resultType="Integer">
		SELECT
			COUNT(a.id)
		FROM product_info a
		<include refid="productInfoJoins"/>
		<include refid="productInfoFindWhere"/>
	</select>

	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.channelsharing.hongqu.portal.api.entity.ProductInfo">
		INSERT INTO product_info(
			id,
			sn,
			goods_id,
			goods_specification_ids,
			goods_sn,
			pic_url,
			store_number,
			retail_price,
			unit_price,
			profit,
			create_time,
			update_time
		) VALUES (
			#{id},
			#{sn},
			#{goodsId},
			#{goodsSpecificationIds},
			#{goodsSn},
			#{picUrl},
			#{storeNumber},
			#{retailPrice},
			#{unitPrice},
			#{profit},
			NOW(),
			#{updateTime}
		)
	</insert>

	<update id="update">
		UPDATE product_info
		   <set>
		   <if test="sn != null">
		       sn = #{sn},
	       </if>
		   <if test="goodsSpecificationIds != null">
		       goods_specification_ids = #{goodsSpecificationIds},
	       </if>
		   <if test="goodsSn != null">
		       goods_sn = #{goodsSn},
	       </if>
		   <if test="picUrl != null">
			   pic_url = #{picUrl},
		   </if>
		   <if test="storeNumber != null">
		       store_number = #{storeNumber},
	       </if>
		   <if test="retailPrice != null">
		       retail_price = #{retailPrice},
	       </if>
		   <if test="unitPrice != null">
		       unit_price = #{unitPrice},
	       </if>
		   <if test="profit != null">
		       profit = #{profit},
	       </if>
		       update_time = NOW(),

           </set>
		WHERE id = #{id}
	</update>

	<update id="delete">
		UPDATE product_info SET del_flag = 1
		WHERE id = #{id}
	</update>


	<update id="addSalesVolume">
		UPDATE product_info SET sales_volume = sales_volume + #{addNum} WHERE id = #{id};
	</update>

	<update id="addStoreNumber">
		UPDATE product_info SET store_number = store_number + #{addNum} WHERE id = #{id};
	</update>

	<select id="sumGoodsStore" resultType="Integer">
		SELECT SUM(store_number) FROM product_info
		WHERE goods_id = #{goodsId} AND del_flag = 0;
	</select>

</mapper>
